﻿body h1{ 
   background-color : aqua;
    
}

body .top_bar{
    background-color:red;
}
body .top_bar .main_bar{
    width: 88%;
    background-color: aqua;
    display flex;
    flex-wrap : nowrap;
}
